<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="org.eclipse.set.browser.releng.target" sequenceNumber="1651586805">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sdk.feature.group" version="4.23.0.v20220308-0722"/>
      <repository location="https://download.eclipse.org/releases/2022-03/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.set.browser.cef" version="59.0.0"/>
      <repository location="http://nexus/nexus/service/local/repositories/planpro-repo.unzip/content/org/eclipse/set/org.eclipse.set.browser.cef.releng.repository/59.0.0/org.eclipse.set.browser.cef.releng.repository-59.0.0.zip-unzip/"/>
    </location>
  </locations>
</target>
